{% extends "Digital/base.html" %}
{% load static %}
{% block content %}

<div class="col-sm-12 card" style="margin:2px">
    <center>
        <img src="{% static 'Digital/img/20004806.jpg' %}" style="width: 115px; height: 115px;">
        <div class="container">
            <h6><b>  <img src="{% static 'Digital/img/microsoft-teams.svg' %}"> <a href="https://teams.microsoft.com/l/chat/0/0?users=kishan.vachhani@lntmhipower.com" title="Connect on Teams" style="font-size: 16px" target="_blank">Kishan Vachhani</a></b></h6>
            <p>
                <b> Head Digital</b>
            </p>
            <p>LMB-Hazira</p>
            <p>9979070983</p>
            <p>kishan.vachhani@lntmhipower.com</p>
        </div>
    </center>
</div>

<div class="col-sm-12 card" style="margin:2px">
    <center>
        <img src="{% static 'Digital/img/20047715.jpg' %}" style="width: 115px; height: 115px;">
        <div class="container">
            <h6><b>  <img src="{% static 'Digital/img/microsoft-teams.svg' %}"> <a href="https://teams.microsoft.com/l/chat/0/0?users=kishan.vachhani@lntmhipower.com" title="Connect on Teams" style="font-size: 16px" target="_blank">Parth Purohit</a></b></h6>
            <p>
                <b> Senior Engineer</b>
            </p>
            <p>LMB-Hazira</p>
            <p>9712987596</p>
            <p>parth.purohit@lntmhipower.com</p>
        </div>
    </center>
</div>

{% endblock content %}
